.hidden {
    display: none;
}

.bird {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.fall {
    transition: transform 2s ease-in;
}

.bulbula {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #fff;
    color: #000;
    padding: 5px;
    box-shadow: 0 -4px #fff, 0 -8px #000, 4px 0 #fff, 4px -4px #000, 8px 0 #000, 0 4px #fff, 0 8px #000, -4px 0 #fff, -4px 4px #000, -8px 0 #000, -4px -4px #000, 4px 4px #000;
    box-sizing: border-box;
    width: 40px;
}

.bulbula.medium {
    width: 100px;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.word-container {
    display: inline-block;
    animation: slide-in 1s ease-in-out;
}
