/* 'silkscreen' font */
/* author: Jason Aleksandr Kottke */
/* //www.dafont.com/silkscreen.font */
@font-face {font-family:"silkscreen"; src: url('https://dl.dropbox.com/s/l0frac4d7bz3zx6/silkscreen.ttf');}

/* colors */
:root {
	--Speech-Bubble-Border:#222;
	--Speech-Bubble-Background:#fcfcfc;
	--Speech-Bubble-Text:#000;
}

#speech-bubble {
	width:150px;
}

#bub-part-a {
	margin-left:6px;
	width:calc(100% - 12px);
	height:2px;
	background:var(--Speech-Bubble-Border);
}

#bub-part-b {
	margin-left:4px;
	width:calc(100% - 12px);
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#bub-part-c {
	margin-left:2px;
	width:calc(100% - 8px);
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#speech-txt {
	width:calc(100% - 24px);
	padding:10px;
	font-family:silkscreen;
	font-size:9px;
	color:var(--Speech-Bubble-Text);
	text-align:center;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#speech-arrow {
	margin-top:-2px;
	margin-left:110px;
}

#arrow-w {
	width:8px;
	height:8px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-x {
	width:6px;
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-y {
	margin-left:-2px;
	width:6px;
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-z {
	margin-left:-2px;
	width:8px;
	height:2px;
	background:var(--Speech-Bubble-Border);
}