/* hehe.css */
.hidden {
    display: none;
}

.bird {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.fall {
    transition: transform 2s ease-in;
}

.word-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Gap between word boxes */
    justify-content: center; /* Center the word boxes horizontally */
    margin-top: 10px; /* Margin above the word box container */
}

.word-container {
    border: 2px solid black; /* Border around each word box */
    padding: 10px; /* Padding inside each word box */
    background: white; /* Background color of each word box */
    box-sizing: border-box; /* Ensure padding doesn't affect size */
    text-align: center; /* Center text inside the box */
}

.center-image {
    position: absolute;
    bottom: 30%; /* Position the image 10px from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust size as needed */
    height: auto;
    z-index: 10;
    transition: transform 1s ease-in-out; /* Sliding effect */
    transform: translate(-50%, 100%); /* Start off-screen */
}

.center-image.show {
    transform: translate(-50%, 0); /* Slide up into view */
}
